<%- include('partials/header.ejs') %>

<section class="banner-home"></section>
<!-- Banner section End-->

<!-- About Section Start -->
<div id="about-us">
    <div class="container">
       <h3>About us</h3>
        <div class="row" style="margin-right: 0; margin-left: 0;">
            <div data-aos="fade-up" data-aos-duration="800">
             <img src="images/about-bg.jpg" alt="about-bg" class="thumbnail image">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem industry. Lorem Ipsum has been dummy text of the printing and typesetting industry. Lorem Ipsum has been thdummy text of the e industry's...e industry' Lorem Ipsum is simply du <br><br>
            
              Text of the printing and typesetting industry. Lorem industry. Lorem Ipsum has been dummy text of the printing and typesetting industry. Lorem Ipsum has been thdummy text of the e industry's...e industry's...Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem industry. Lorem Ipsum has been dummy text of the printing and typesetting industry. Lorem Ipsum has been thdummy text of the e industry's...e industry's... <br><br>
              
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem industry. Lorem Ipsum has been dummy text of the printing and typesetting industry. Lorem Ipsum has been thdummy text of the e industry's...e industry'. <br><br>
              
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem industry. Lorem Ipsum has been dummy text of the printing and typesetting industry. Lorem Ipsum has been thdummy text of the e industry's...e industry's...Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem industry. Lorem Ipsum has been dummy text of the printing typesetting typesetting typesetting typesetting typesetting industry. Lorem Ipsum has been thdummy text of the e industry's...e industry's... <br><br>
              
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem industry. Lorem Ipsum has been dummy text of the printing and typesetting industry. Lorem Ipsum has been thdummy text of the e typesetting ...e industry's...Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem industry. Lorem Ipsum has been dummy text of the printing and typesetting industry. Lorem Ipsum has been thdummy text of the e industry's...e industry' Lorem Ipsum is simply du <br><br>
              
              mmy text of the printing and typesetting industry. Lorem industry. Lorem Ipsum has been dummy text of the printing and typesetting industry. Lorem Ipsum has been thdummy text of the e industry's...e industry's...Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem industry. Lorem Ipsum has been dummy text of the printing typesetting typesetting typesetting typesetting typesetting industry. Lorem Ipsum has been thdummy text of the e industry's...e industry's...
               </p>
            </div>
         </div>
    </div>
</div>
<!-- About Section End -->

<section class="Subscribe">
    <div class="container">
      <!-- Grid row-->
        <div class="row">
        <!-- Grid column -->
        <div class="col-lg-6 col-sm-6 col1">
        <div class="heading" data-aos="fade-right" data-aos-delay="300">
            <h3>Do You Like Our Food?</h3>
            <h6>Subscribe for newsletter</h6>
        </div>
        </div>
        <div class="col-lg-6 col-sm-6 col1">
                 <form>
                  <div class="input-group" data-aos="fade-left" data-aos-duration="800">
                     <input name="email" id="email" type="email" placeholder="Enter your email id" required>
                     <button class="btn btn-info" type="submit">Subscribe</button>
                  </div>
                 </form>
         </div>
        </div>
    </div>
</section>


<%- include('partials/footer.ejs') %>