<%- include('partials/header.ejs') %>

<section class="banner-home"></section>
<!-- Banner section End-->

<!-- Items section Ended-->
<section id="items">
    <!-- Page Content -->
    <div class="container">
         <div class="heading" data-aos="fade-up" data-aos-delay="300">
            <h2>Check our Recipe's</h2>
         </div>

      <div class="row text-center text-lg-left">

        <div class="col-lg-3 col-md-4 col-6" data-aos="fade-left" data-aos-delay="300">
         <div class="imageBox">
            <a href="images/item-1.jpg" class="d-block mb-4 h-100" data-toggle="lightbox" data-gallery="example-gallery">
              <img class="img-fluid img-thumbnail" src="images/item-1.jpg" alt="">
              <div class="textBox">
                  <h5>Sea Food</h5>
              </div>
            </a>
         </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6" data-aos="fade-left" data-aos-delay="500">
         <div class="imageBox">
          <a href="images/item-2.jpg" class="d-block mb-4 h-100" data-toggle="lightbox" data-gallery="example-gallery">
            <img class="img-fluid img-thumbnail" src="images/item-2.jpg" alt="">
              <div class="textBox">
                  <h5>Main Dishes</h5>
              </div>
          </a>
         </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6" data-aos="fade-left" data-aos-delay="700">
         <div class="imageBox">
          <a href="images/item-3.jpg" class="d-block mb-4 h-100" data-toggle="lightbox" data-gallery="example-gallery">
            <img class="img-fluid img-thumbnail" src="images/item-3.jpg" alt="">
              <div class="textBox">
                  <h5>Appetizers</h5>
              </div>
          </a>
         </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6" data-aos="fade-left" data-aos-delay="900">
         <div class="imageBox">
          <a href="images/item-4.jpg" class="d-block mb-4 h-100" data-toggle="lightbox" data-gallery="example-gallery">
            <img class="img-fluid img-thumbnail" src="images/item-4.jpg" alt="">
              <div class="textBox">
                  <h5>Desserts</h5>
              </div>
          </a>
         </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6" data-aos="fade-right" data-aos-delay="300">
         <div class="imageBox">
          <a href="images/item-5.jpg" class="d-block mb-4 h-100" data-toggle="lightbox" data-gallery="example-gallery">
            <img class="img-fluid img-thumbnail" src="images/item-5.jpg" alt="">
              <div class="textBox">
                  <h5>Drinks</h5>
              </div>
          </a>
         </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6" data-aos="fade-right" data-aos-delay="500">
         <div class="imageBox">
          <a href="images/item-6.jpg" class="d-block mb-4 h-100" data-toggle="lightbox" data-gallery="example-gallery">
            <img class="img-fluid img-thumbnail" src="images/item-6.jpg" alt="">
              <div class="textBox">
                  <h5>Steak Food</h5>
              </div>
          </a>
         </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6" data-aos="fade-right" data-aos-delay="700">
         <div class="imageBox">
          <a href="images/item-7.jpg" class="d-block mb-4 h-100" data-toggle="lightbox" data-gallery="example-gallery">
            <img class="img-fluid img-thumbnail" src="images/item-7.jpg" alt="">
              <div class="textBox">
                  <h5>Sea Food</h5>
              </div>
          </a>
         </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6" data-aos="fade-right" data-aos-delay="900">
         <div class="imageBox">
          <a href="images/item-8.jpg" class="d-block mb-4 h-100" data-toggle="lightbox" data-gallery="example-gallery">
            <img class="img-fluid img-thumbnail" src="images/item-8.jpg" alt="">
              <div class="textBox">
                  <h5>Drinks</h5>
              </div>
          </a>
         </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6" data-aos="fade-left" data-aos-delay="300">
         <div class="imageBox">
          <a href="images/item-4.jpg" class="d-block mb-4 h-100" data-toggle="lightbox" data-gallery="example-gallery">
            <img class="img-fluid img-thumbnail" src="images/item-4.jpg" alt="">
              <div class="textBox">
                  <h5>Desserts</h5>
              </div>
          </a>
         </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6" data-aos="fade-left" data-aos-delay="500">
         <div class="imageBox">
          <a href="images/item-2.jpg" class="d-block mb-4 h-100" data-toggle="lightbox" data-gallery="example-gallery">
            <img class="img-fluid img-thumbnail" src="images/item-2.jpg" alt="">
              <div class="textBox">
                  <h5>Appetizers</h5>
              </div>
          </a>
         </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6" data-aos="fade-left" data-aos-delay="700">
         <div class="imageBox">
          <a href="images/item-3.jpg" class="d-block mb-4 h-100" data-toggle="lightbox" data-gallery="example-gallery">
            <img class="img-fluid img-thumbnail" src="images/item-3.jpg" alt="">
              <div class="textBox">
                  <h5>Main Dishes</h5>
              </div>
          </a>
         </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6" data-aos="fade-left" data-aos-delay="900">
         <div class="imageBox">
          <a href="images/item-1.jpg" class="d-block mb-4 h-100" data-toggle="lightbox" data-gallery="example-gallery">
            <img class="img-fluid img-thumbnail" src="images/item-1.jpg" alt="">
              <div class="textBox">
                  <h5>Other Food</h5>
              </div>
          </a>
         </div>
        </div>
      </div>

    </div>
    <!-- /.container -->
</section>
<!-- Items section Ended-->

<section class="Subscribe">
    <div class="container">
      <!-- Grid row-->
        <div class="row">
        <!-- Grid column -->
        <div class="col-lg-6 col-sm-6 col1">
        <div class="heading" data-aos="fade-right" data-aos-delay="300">
            <h3>Do You Like Our Food?</h3>
            <h6>Subscribe for newsletter</h6>
        </div>
        </div>
        <div class="col-lg-6 col-sm-6 col1">
                 <form>
                  <div class="input-group" data-aos="fade-left" data-aos-duration="800">
                     <input name="email" id="email" type="email" placeholder="Enter your email id" required>
                     <button class="btn btn-info" type="submit">Subscribe</button>
                  </div>
                 </form>
         </div>
        </div>
    </div>
</section>

<%- include('partials/footer.ejs') %>
