<h1>
    <a href="admins/categories">Categories</a>
</h1>
<h1>
    <a href="admins/restaurants">Restaurants</a>
</h1>
<h1>
    <a href="admins/foods">Foods</a>
</h1>
<h1>
    <a href="admins/users">Users</a>
</h1>
