<%- include('../partials/header.ejs') %>  
<section class="banner-home"></section>
<body>

  <form id="categoryForm" class="custom-form">
    <label for="name">User Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="url">User URL:</label>
    <input type="text" id="url" name="url" required>

    <label for="profile_img">Profile Image URL:</label>
    <input type="text" id="profile_img" name="profile_img" required>

    <label for="cloudinary_id">Cloudinary ID:</label>
    <input type="text" id="cloudinary_id" name="cloudinary_id" required>

    <button type="button" onclick="addCategory()">Add User</button>
  </form>
</body>

<%- include('../partials/footer.ejs') %>  